*/
/* import 'bootstrap/dist/css/bootstrap.min.css'; */
/* Canceling default styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
body {
  width: 100%;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

h2 {
  /* padding: 8px 4px; */
}

ul {
  list-style-type: none;
  /* background-color: azure; */
  padding: 1rem 0;
  border-radius: 20px;
}

/* button {
  margin: 10px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
} */
