/* font-size: calc(10px + 2vmin); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  padding: 1rem;
}

ul {
  list-style-type: none;
  background-color: azure;
  padding: 1rem 0;
  border-radius: 20px;
}
li {
  height: 2rem;
  width: 100%;
  margin: 3rem 0;
}
button {
  margin: 10px;
  border-radius: 20px;
  width: 20vw;
}
svg {
  display: flex;
}
svg:hover {
  fill: red;
}
svg:active {
  fill: red;
}
/* input {
  font-size: 5rem;
  width: 5rem;
} */
/* input[type="checkbox"] {
  display: none;
} */

/* .custom-checkbox::after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 6px;
  height: 12px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
} */

.App {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.todolist-container {
  /* margin: 5rem auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  background-color: #a1f7f7;
  /* height: 100%; */
  height: calc(100vh - 89px);
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-area {
  text-align: center;
  font-size: 2rem;
  border-radius: 20px;
  width: 40rem;
  height: 4rem;
}
.add-button {
  height: 4rem;
  width: 4rem;
  font-size: 1.5rem;
}

.add-button:hover {
  background-color: greenyellow;
}
.add-button:active {
  background-color: green;
}

.filter-section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 2rem;
}

.filter-button:hover {
  background-color: greenyellow;
}
.active-filter {
  background-color: green;
}

.task-section {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: auto; */
  height: 30vh;
  /* height: calc(100vh-50vh); */

  overflow: auto;
}
.task-container {
  display: flex;
  align-items: center;
}
.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  padding: 3rem 3rem;
  margin: 2rem 4rem;
  width: 100%;
  background-color: #cfa6f7;
  border: 5px solid #f7a6a6;
  border-radius: 20px;
}

input[type="checkbox"]:checked + .custom-checkbox::after {
  display: block;
}
.custom-checkbox {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 2px solid #555;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  margin-right: 2rem;
}

.error {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 1.5em;
}

.links {
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: white;
  background-color: cadetblue;
}
.links p {
  padding: 30px;
  font-size: 25px;
}

/* Media Queries */

@media screen and (max-width: 375px) {
  body {
    width: 375px;
    /* height: 100vh; */
  }
  .todolist {
    /* margin: 1rem 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  /* .task-section {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
  } */
  button {
    width: 10rem;
    font-size: 10px;
  }
  svg {
    width: 25px;
    height: 25px;
  }

  .filter-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .input-area {
    text-align: center;
    font-size: 1rem;
    width: 15rem;
    height: 2rem;
  }
  .add-button {
    width: 3rem;
    height: 2rem;
    font-size: 1rem;
  }
  .task-item {
    font-size: 1rem;
    width: 90%;
    margin: 1rem;
  }
  .links p {
    font-size: 15px;
  }
}

/* Tablets and larger devices (768px and above) */
@media screen and (min-width: 375px) and (max-width: 768px) {
  button {
    width: 10rem;
    font-size: 10px;
  }
  svg {
    width: 25px;
    height: 25px;
  }
  .custom-checkbox {
    width: 25px;
    height: 25px;
  }
  .todolist {
    /* margin: 1rem 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .input-area {
    text-align: center;
    font-size: 1rem;
    width: 15rem;
    height: 2rem;
  }
  .input-container {
  }
  .task-item {
    font-size: 1rem;
    width: 90%;
    margin: 1rem;
  }

  .add-button {
    width: 3rem;
    height: 2rem;
    font-size: 1rem;
  }

  .filter-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  .links p {
    font-size: 20px;
  }
}

/* Mobile devices (less than 768px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .todolist {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .input-area {
    text-align: center;
    font-size: 1rem;
    width: 20rem;
    height: 2rem;
  }
  .add-button {
    width: 3rem;
    height: 2rem;
    font-size: 1rem;
  }
  .task-item {
    width: 83%;
  }

  /* .links p {
    width: calc(15px + (25px - 15) * ((100vw - 375px) / (1024 - 375)));
  } */
}

/* Larger screens (1024px and above) */
@media (min-width: 1024px) {
  .task-item {
    width: 85%;
  }
}
